@font-face {
    font-family: Onest;
    src: url('../fonts/Onest.ttf') format(truetype);
}

* {
    box-sizing: border-box;
    overflow: clip; /* evita que se mueva el navegador */
    transition: all 0.7s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: #425F57;
    color: #425F57;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Onest', sans-serif;
    font-weight: 700;
}

/* El recuadro interior */
div.portrait {
    background-color: aliceblue;
    width: 96vw;
    height: 96vh;
    border-radius: 3px;
    opacity: .98;
}

/* La imagen de fondo */
.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../media/fondo2.jpg') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 89s infinite; /* nombre de la animación */
    opacity: .3;
    visibility: visible;
    z-index: -1;
  }

  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(0, 0) }
  }

header {
    width: 100%;
}

/* El navegador */
header span.hiddenMenu {
    display: none;
}

header span ul {
    padding: 0;
    margin: 0;
}

header span ul li {
    font-size: 2.7rem;
    text-align: center;
    list-style-position: none;
}

header span ul li a {
    text-decoration: none;
    color: aliceblue;
    background-color: #425F57;
    transition: ease-in-out .3s;
}

header span ul li a:hover {
    text-decoration: underline;
    background-color: aliceblue;
    color: #425F57;
}

header nav  {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

/* Show de JS */
header span.hiddenMenu.show {
    display: flex;
    position: fixed;
    margin: 0 auto;
    justify-content: center; /* horizontal */
    align-items: center;  /* vertical */
    width: 96vw;
    height: 96vh;
    background-color: #425F57;
    opacity: .98;
    z-index: 200;
}

header nav button.menu {
    display: flex;
    border: 0;
    background-color: transparent;
    color: #425F57;
    font-size: 3rem;
    text-align: right;
    padding: 0%;
    align-self: flex-end;
    margin: 20px;
    z-index: 300;
}

header nav button.menu:focus {
    outline: 0;
}

main {
    width: 96vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main figure {
    margin: 0;
    padding: 0;
    overflow: scroll;
}

main img {
    max-width: 220px;
    max-height: 220px;
    border-radius: 50%;
    opacity: 0.8;
    pointer-events: none;
}

main figcaption {
    text-align: center;
    font-size: 1.7em;
}

main section {
    max-width: 500px;
    margin: 12px;
    text-align: justify;
    overflow: scroll;
}

/*
https://codepen.io/iceable/pen/yLBrZOd

Breakpoint	Class infix	Dimensions
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
*/