@font-face {
    font-family: Onest;
    src: url('../fonts/Onest.ttf') format(truetype);
}

* {
    box-sizing: border-box;
    overflow: scroll;
    transition: all 0.7s ease-in-out;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1D5C63;
    color: #1D5C63;
    width: 100vw;
    height: 100vh; /* altura del navegador */
    display: flex;  /* flex para que esté centrado con justify y align */
    justify-content: center; /* horizontal */
    align-items: center;  /* vertical */
    font-family: 'Onest', sans-serif;
    font-weight: 700;
}

/* La imagen de fondo */
.bg {
    position: fixed;
    top: -50%;
    left: -50%;
    right: -50%;
    bottom: -50%;
    width: 200%;
    height: 200vh;
    background: transparent url('../media/fondo2.jpg') repeat 0 0;
    background-repeat: repeat;
    animation: bg-animation 44s infinite; /* nombre de la animación */
    opacity: .3;
    visibility: visible;
    z-index: -1;
  }

  @keyframes bg-animation {
      0% { transform: translate(0,0) }
      10% { transform: translate(-5%,-5%) }
      20% { transform: translate(-10%,5%) }
      30% { transform: translate(5%,-10%) }
      40% { transform: translate(-5%,15%) }
      50% { transform: translate(-10%,5%) }
      60% { transform: translate(15%,0) }
      70% { transform: translate(0,10%) }
      80% { transform: translate(-15%,0) }
      90% { transform: translate(10%,5%) }
      100% { transform: translate(0, 0) }
  }

/* El recuadro interior */
div.portrait {
    background-color: aliceblue;
    width: 96vw;
    height: 96vh;
    border-radius: 3px;
    opacity: .999;
}

/* El navegador */
span.hiddenMenu {
    display: none;
    z-index: 1;
}

span ul {
    padding: 0;
    margin: 0;
}

span ul li {
    font-size: 2.7rem;
    text-align: center;
    list-style-position: none;
}

span ul li a {
    text-decoration: none;
    color: aliceblue;
    background-color: #1D5C63;
    transition: ease-in-out .3s;
}

span ul li a:hover {
    text-decoration: underline;
    background-color: aliceblue;
    color: #1D5C63;
}

header {
    position: fixed;
    right: 3.12vw;
    z-index: 3;
}

header nav  {
    display: flex;
}

/* Show de JS */
span.hiddenMenu.show {
    display: flex;
    position: fixed;
    margin: 0 auto;
    justify-content: center; /* horizontal */
    align-items: center;  /* vertical */
    width: 96vw;
    height: 96vh;
    background-color: #1D5C63;
    opacity: .98;
}

header nav button.menu {
    display: flex;
    border: 0;
    background-color: transparent;
    color: #1D5C63;
    font-size: 3rem;
    text-align: right;
    padding: 0%;
    align-self: flex-end;
    margin: 20px;
    z-index: 3;
}

header nav button.menu:focus {
    outline: 0;
}

/* Sección principal */
main {
    margin: 12px;
    text-align: justify;
}

main h1 {
    margin-top: 0;
}

main h2 {
    text-align: center;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

main article {
    display: block;
    visibility: visible;
    padding: 20vh 17vw;
}

.hide {
    display: none;
    visibility: hidden;
}

main a {
    text-decoration: none;
    color: #1D5C63;
}

main i {
    font-size: 16px;
    animation: bounceRight 3s infinite;
}

@keyframes bounceRight {
    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateX(0) rotate(-45deg);
    }
    40% {
        transform: translateX(12px) rotate(-45deg);
    }
    60% {
        transform: translateX(7px) rotate(-45deg);
    }
}

.preview {
    width: 100vw;
    position: absolute;
    margin: 12px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    bottom: 17px;
    right: 0;
}

.preview button {
    width: 170px;
    height: 139px;
    border: none;
    margin: 0;
    padding: 0;
    z-index: 0;
}

.preview button:hover {
    width: 210px;
    height: 179px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media only screen and (max-width: 650px) {
    main article {
        padding: 12px;
    }
    .preview {
        align-items: center;
    }
    .preview button {
        width: 140px;
        height: 109px;
    }
    .preview button:hover {
        width: 160px;
        height: 129px;
    }
}

/*
https://codepen.io/iceable/pen/yLBrZOd

Breakpoint	Class infix	Dimensions
Small	sm	≥576px
Medium	md	≥768px
Large	lg	≥992px
Extra large	xl	≥1200px
*/